* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    text-align: center;

}

h1 {
    margin-top: 5rem;
}

h3 {
    margin-top: 1rem;
}

input {
    padding: 5px;
    width: 16rem;
    margin-top: 10px;
    font-size: 15px;
}

button {
    margin-top: 1rem;
    padding: 5px;
    width: 8rem;
    border-radius: 6px;
    border: none;
    background-color: rgb(56, 189, 23);
    color: white;
    height: 1.9rem;
}

#p1 {
    margin-top: 1rem;
    font-size: 20px;
}